<form (ngSubmit)="f.form.valid && submit()" #f="ngForm">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="exampleInputName" name="name"
         aria-describedby="emailHelp" placeholder="Enter Name" [(ngModel)]="register.name">
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email"
      aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="register.email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
      name="password" [(ngModel)]="register.password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Confirm Password</label>
      <input type="password" class="form-control" id="exampleInputPassword" placeholder="Confirm your Password"
      name="confirmpassword" #cpass="ngModel" [(ngModel)]="confirmpassword" pattern="{{register.password}}">
      <span class="text-danger" *ngIf="f.submitted && cpass.errors?.pattern">Password and Confirm Password does not match</span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <span [ngClass]="(status == 1)?'text-success':'text-danger'">{{message}}</span>
  </div>
  </div>
</form>
